html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		display: inherit;
		box-sizing: border-box;

		
	}



	body {
		line-height: 1;

	}

	ol, ul {
		list-style: none;
	}


	.banner{
		width: 100%;
		height: 250px;
		background-color: #3B8686;
		padding-top: 120px;
		box-sizing: border-box;
	    display: flex;
    	justify-content: space-between;
	}
    .banner-title h1{
   	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.04;
    letter-spacing: -.028em;
    color: white;
    text-decoration:none;
    
	}

   .banner-content p{
   	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.04;
    letter-spacing: -.028em;
    color: white;
    text-transform: uppercase;
    }

	.logo{
		
		display: block;
		
	}


    .arrowsx{
    	padding-left: 10px;
    	height: 50px;
    }
    .arrowdx{
    	padding-right: 10px;
    	height: 50px;
    }


	


	
	.details li{
   	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-size: 14px;
    line-height: 2.5;
    letter-spacing: -.028em;
    color: #191919;
    padding:10px;
    
    
	}
	ul .text{
		padding: 30px;
	}
	
	.info-detail{
	display: inline-block;
	padding: 10px 3px 3px;
	}
	.description-grid h2{
   	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-size: 30px;
    line-height: 1.04;
    letter-spacing: -.028em;
    color: #191919;
    text-transform: uppercase;

	}
	.description-grid h3{
   	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.04;
    letter-spacing: -.028em;
    color: #191919;
    

	}


	.pictures {			
		width: 50%;
		height: 500px;	
		display:inline-block;
		float: left;		     
	}
	.food01{
		background-image: url("../images/food01.jpg");
	}
	.food02{
		background-image: url("../images/food02.jpg");		
	}
	.food03{
		background-image: url("../images/food03.jpg");		
	}
	.food04{
		background-image: url("../images/food04.jpg");		
	}
	.animal01{
		background-image: url("../images/animal01.jpg");		
	}
	.animal02{
		background-image: url("../images/animal02.jpg");		
	}
	.face01{
		background-image: url("../images/face01.jpg");
	}
	.face02{
		background-image: url("../images/face02.jpg");		
	}
	.face03{
		background-image: url("../images/face03.jpg");		
	}
	.face04{
		background-image: url("../images/face04.jpg")
	}
	.fire01{
		background-image: url("../images/fire01.jpg")
	}
	.fire02{
		background-image: url("../images/fire02.jpg")
	}
	.water01{
		background-image: url("../images/water01.jpg")
	}
	.water02{
		background-image: url("../images/water02.jpg")
	}
	.landscape01{
		background-image: url("../images/landscape01.jpg")
	}
	.landscape02{
		background-image: url("../images/landscape02.jpg")
	}
	.landscape03{
		background-image: url("../images/landscape03.jpg")
	}
	.landscape04{
		background-image: url("../images/landscape04.jpg")
	}

	@media screen and (max-width: 750px) {
    .pictures{
    	width: 100%;
    	height: 100%;
		}
    }
		     
	
    .picture-info{
    	padding: 30px ;


    }
    #food01{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #food02{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #food03{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #food04{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #animal01{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #animal02{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #face01{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
	#face02{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #face03{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #face04{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #fire01{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
	#fire02{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #water01{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #water02{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #landscape01{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
	#landscape02{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #landscape03{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }
    #landscape04{
    	color:white;
    	font-size: 15px;
    	font-family: arial;
    }



	
.info-detail img{
	width: 30px;
	padding: 15px;
}


    
    